.article-page {
  padding-top: 0.5rem;
}

.article-back-link {
  align-self: flex-start;
}

.article-title {
  font-weight: 700;
}

.article-meta {
  align-items: center;
}

.article-content {
  white-space: pre-line;
  padding-top: 0.5rem;
}